.blog-wrapper {
	padding: 60px 0;
	@include responsive(991) {
		padding: 24px 0;
	}

	.post {
		margin-bottom: 24px;
	}
}

.blog-link-wrapper {
	text-align: center;
	margin-top: 50px;

	.more-link {
		display: inline-block;
		background-color: $mobi-color;
		color: #fff;
		font-weight: 700;
		font-size: 18px;
		text-align: center;
		min-width: 226px;
		padding: 12px 16px;
		border-radius: 8px;
		line-height: 22px;

		&:hover {
			background-color: $blue;;
		}
	}
}

.post {
	background: #FFFFFF;
	border: 1px solid #C5C5C5;
	border-radius: 10px;
	@include transition(.3s all);

	&:hover {
		box-shadow: 0 4px 44px rgba(120, 120, 120, 0.25);

		.featured-media {
			.featured-media-inner {
				img {
					@include transform(scale(1.4));
				}
			}
		}

		.post-inner {
			.entry-title {
				color: $blue;
			}
		}
	}

	.featured-media {
		.featured-media-inner {
			border-radius: 10px 10px 0 0;
			overflow: hidden;

			img {
				width: 100%;
				max-width: 100%;
				height: auto;
				@include transition(3s all);
			}
		}
	}

	.post-inner {
		padding: 16px;

		.entry-title {
			@include textWithEllipsis(20, 1.4, 3);
			margin-bottom: 16px;

			a {
				color: inherit;
			}
		}

		.post-excerpt {
			@include textWithEllipsis(18, 1.4, 7);
			color: #545454;

			p {
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}
