.search-package-wrapper {
	background-color: #BBD8CB;

	.package-search-form {
		@include flexbox();
		@include align-items(center);
		@include flex-wrap(wrap);
		@include justify-content(center);
		max-width: 600px;
		margin: 0 auto 20px auto;

		.search-input-wrapper {
			position: relative;
			max-width: 100%;
			width: calc(100% - 120px);

			&:before {
				content: '';
				position: absolute;
				display: block;
				top: 0;
				left: 8px;
				width: 42px;
				height: 42px;
				border-radius: 42px;
				border: 0;
				background-color: transparent;
				background-image: url("../images/search.png");
				background-size: 25px 24px;
				background-repeat: no-repeat;
				background-position: center;
				font-size: 0;
				margin: 0;
				padding: 0;
			}

			.search-input {
				width: 100%;
				height: 42px;
				border: 1px solid #BEBEBE;
				border-radius: 8px;
				font-weight: 400;
				font-size: 14px;
				line-height: 17px;
				color: #313131;
				padding: 10px 20px 10px 52px;
				display: block;

				&::-webkit-input-placeholder {
					color: #D9D9D9;
				}

				&:-ms-input-placeholder {
					color: #D9D9D9;
				}

				&::placeholder {
					color: #D9D9D9;
				}
			}
		}

		button[type=submit] {
			display: inline-block;
			font-weight: 700;
			font-size: 18px;
			line-height: 22px;
			color: #FFFFFF;
			text-align: center;
			padding: 12px 16px;
			height: 42px;
			background: #046F3A;
			border-radius: 8px;
			border: 0;
			margin-left: 10px;

			&:hover {
				background: #014a86;
			}
		}
	}

	.package-page-list {
		@include flexbox();
		@include flex-wrap(wrap);
		margin-bottom: 15px;
		padding-bottom: 15px;

		li {
			margin: 0 5px;
			min-width: 30px;
			line-height: 28px;
			border: 1px solid #046F3A;
			border-radius: 5px;
			background-color: #fff;
			@include flexbox();
			@include justify-content(center);
			@include align-items(center);
			font-size: 15px;
			color: #046F3A;
			@include transition(.3s all);
			cursor: pointer;

			&:hover {
				background-color: rgb(0, 0, 0, .2);
			}

			&.current {
				background-color: #046F3A;
				color: #fff;
				pointer-events: none;
			}
		}
	}
}
