// Utilities
// Sass tools and helpers used across the project.
@import '../scss/utils/mixins';
@import "../scss/sim-report";

:root {
	--blue: #0083da;
	--cyan: #2cccdb;
	--green: #afdc5c;
}

.statusBar-wrapper {
	max-width: 600px;

	.statusBar {
		width: 100%;
		height: 8px;
		border-radius: 8px;
		position: relative;
		overflow: hidden;

		&.done {
			&:before {
				-webkit-animation: unset;
				animation: unset;
			}
		}

		&:before {
			position: absolute;
			content: "";
			top: 0;
			right: 0;
			bottom: 0;
			left: -100%;
			will-change: transform;
			background: linear-gradient(90deg, var(--blue) 0%, var(--blue) 25%, var(--cyan) 25%, var(--cyan) 37.5%, var(--green) 37.5%, var(--green) 50%, var(--blue) 50%, var(--blue) 75%, var(--cyan) 75%, var(--cyan) 87.5%, var(--green) 87.5%, var(--green) 100%);
			-webkit-animation: 1.3s progress ease infinite;
			animation: 1.3s progress ease infinite;
		}
	}
}

@-webkit-keyframes progress {
	0% {
		transform: translate(0);
	}
	100% {
		transform: translate(50%);
	}
}

@keyframes progress {
	0% {
		transform: translate(0);
	}
	100% {
		transform: translate(50%);
	}
}

// Icon menu WooCommerce
#adminmenu #toplevel_page_woocommerce div.wp-menu-image {
	background-image: unset !important;

	&:before {
		font-family: dashicons !important;
		content: '\f513';
		display: inline-block;
	}
}

body.woocommerce_page_wc-reports {
	.wrap.woocommerce div.error {
		display: none;
	}
}

.n-input {
	float: left;
	margin-right: 6px;
	max-width: 12.5rem;
}

.package-order-report-form {
	margin: 6px 0 30px 0;
	padding-top: 5px;
}

.package-order-report-wrap {
	@include flexbox();
	max-width: 600px;
	margin-left: -12px;
	margin-right: -12px;

	.package-order-report-item {
		@include flex-basis(50%);
		max-width: 50%;
		padding-left: 12px;
		padding-right: 12px;

		.package-order-report-content {
			border-radius: 8px;
			box-shadow: 0 0 20px 0 rgba(0, 0, 0, .2);
			padding: 24px;

			.report-title {
				margin-top: 0;
			}

			.report-value {
				font-size: 30px;
				font-weight: 700;
				margin: 0;
				color: #0d6efd;
			}
		}
	}
}
